*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

header{
    position:sticky;
    top:0;
    background:#111827;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    z-index:100;
}

.logo{
    font-size:1.4rem;
    font-weight:700;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:25px;
    border:4px solid #3b82f6;
}

.hero h1{
    font-size:4rem;
}

.hero h2{
    color:#60a5fa;
    margin:15px 0;
}

.hero p{
    max-width:700px;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
}

.primary,
.secondary{
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    color:white;
}

.primary{
    background:#2563eb;
}

.secondary{
    border:1px solid white;
}

section{
    padding:100px 10%;
}

h2{
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

ul{
    margin-left:25px;
}

li{
    margin-bottom:15px;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
}